version: 2.1

orbs:
  python: circleci/python@2.0.3
  aws-cli: circleci/aws-cli@3.1.5
  ansible: orbss/ansible-playbook@0.0.5
  ruby: circleci/ruby@2.0.0

jobs:
  cfn-lint:
    executor: python/default
    steps:
      - checkout
      - run: pip install cfn-lint
      - run:
          name: run cfn-lint
          command: |
            cfn-lint -i W3002 -t cloudformation/*.yml

  cfn-execute:
    executor: aws-cli/default
    steps:
      - checkout
      - aws-cli/setup:
          aws-access-key-id: AWS_ACCESS_KEY_ID
          aws-region: AWS_DEFAULT_REGION
          aws-secret-access-key: AWS_SECRET_ACCESS_KEY
      - run: aws cloudformation deploy --template-file cloudformation/lecture-vpc.yml --stack-name pf-001-vpc
      - run: aws cloudformation deploy --template-file cloudformation/lecture-ec2.yml --stack-name pf-001-ec2 --capabilities CAPABILITY_IAM
      - run: aws cloudformation deploy --template-file cloudformation/lecture-rds.yml --stack-name pf-001-rds --parameter-overrides DBPassword="${AWS_DB_PW}"
      - run: aws cloudformation deploy --template-file cloudformation/lecture-alb.yml --stack-name pf-001-elb
      - run: aws cloudformation deploy --template-file cloudformation/lecture-s3.yml --stack-name pf-001-s3

  ansible-execute:
    executor: ansible/default
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - 8f:32:ac:33:c9:3f:0a:05:7d:f9:c1:f2:d8:ac:79:42

      - run:
          name: Copy SSH Config
          command: cp sshconfig/config ~/.ssh/
      - ansible/install:
          version: 2.9.23
      - ansible/playbook:
          playbook: ansible/playbook.yml
          playbook-options: "-i ansible/inventory"
          # playbook-options: '-u ec2-user -i ansible/inventory --private-key ../../keypair/CFnKeyPair.pem'


  serverspec-execute:
    docker:
      - image: cimg/ruby:2.7-node
    steps:
      - checkout
      - run:
          name: Copy SSH Config
          command: cp sshconfig/config ~/.ssh/
      - run:
          name: Copy serverspec file
          command: cp -r serverspec ~/serverspec
      - run:
          name: bundle install
          command: |
            cd serverspec
            gem list -e rails
            bundle install --path vendor/bundle
      - run:
          name: execute
          command: |
            cd serverspec
            bundle exec rake spec


workflows:
  pf-001:
    jobs:
      - cfn-lint
      - cfn-execute:
          requires:
            - cfn-lint
      - ansible-execute:
          requires:
            - cfn-execute
      - serverspec-execute:
          requires:
            - ansible-execute